*{
	margin:0;
	padding:0;
}
#container .imgs img{
	width:400px;
	height:400px;
}
#container{
	width:400px;
	height:400px;
	overflow:hidden;
}
#container .imgs{
	width:2000px;
	animation-name: lunbotu;
	animation-duration: 10s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
}
@keyframes lunbotu{
	0%{
		transform: translateX(0);
	}
	25%{
		transform: translateX(-400px);
	}
	50%{
		transform: translateX(-800px);
	}
	75%{
		transform: translateX(-1200px);
	}
	100%{
		transform: translateX(-1600px);
	}
}